---
interface Props {
    menu1: string;
    menu2: string;
    menu3: string;
    menu4: string;
    menu5: string;
    menu6: string;
    menu7: string;
    menu8: string;
    menu9: string;
    tripadvisor: string;
    phone: string;
    email: string;
    address: string;
    copyright: string;
    gdpr: string;
    rules: string;
    madeby: string;
}

const {menu1,menu2,menu3,menu4, menu5, menu6, menu7, menu8, menu9, tripadvisor, phone, email, address, copyright, gdpr, rules, madeby} = Astro.props;
---
<div class="bg-primary pb-4 pt-4 relative">
    <div class="page-container mx-auto">
        <div class="flex space-x-72 pt-24 pb-18">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 286 73">
                    <path fill="#7C7C7C" d="M76.569 15.597 69.05.187H9.001L.008 15.597l11.076-9.65h55.942l9.543 9.65Z"/>
                    <path fill="#A4978C" d="M64.784 15.51H10.852l41.975 6.078-13.36 28.557 20.155-27.578 5.162-7.057Z"/>
                    <path fill="#7C7C7C" d="M76.569 15.597 38.281 61.594.008 15.64 38.296 73l38.273-57.403Z"/>
                    <path fill="#A4978C" d="m110.502 47.524 2.762-6.812 2.776 6.812 2.704-6.394h.781l-3.543 8.223-2.761-6.74-2.748 6.74-3.528-8.223h.781l2.762 6.394h.014ZM122.791 45.09c-.058 1.973 1.316 3.298 3.138 3.298 1.214 0 2.197-.72 2.761-1.771l.651.374c-.709 1.354-1.967 2.103-3.514 2.103-2.328 0-3.788-1.872-3.788-4.09s1.504-4.047 3.788-4.047c2.285 0 3.774 1.887 3.76 4.133h-6.796Zm6.029-.705c-.188-1.44-1.373-2.722-2.978-2.722-1.605 0-2.921 1.253-3.051 2.722h6.029ZM134.055 48.921h-.766V34.995h.766v13.926ZM139.29 48.921h-.767V34.995h.767v13.926ZM144.54 42.34h.029c.462-.864 1.301-1.383 2.328-1.383 2.009 0 2.573 1.253 2.573 3.255v4.71h-.766v-4.71c0-1.397-.174-2.55-1.88-2.55-1.966 0-2.284 1.83-2.284 3.414v3.845h-.767v-7.79h.767v1.209ZM153.939 45.09c-.057 1.973 1.316 3.298 3.138 3.298 1.215 0 2.198-.72 2.762-1.771l.65.374c-.708 1.354-1.966 2.103-3.513 2.103-2.328 0-3.788-1.872-3.788-4.09s1.503-4.047 3.788-4.047c2.284 0 3.774 1.887 3.759 4.133h-6.796Zm6.03-.705c-.188-1.44-1.374-2.722-2.979-2.722s-2.92 1.253-3.051 2.722h6.03ZM167.73 42.541a1.488 1.488 0 0 0-1.373-.878c-.666 0-1.345.547-1.345 1.21 0 1.872 3.817.965 3.817 3.773 0 1.44-1.113 2.434-2.53 2.434-1.302 0-2.372-.792-2.69-2.06l.752-.23c.289.922.911 1.584 1.952 1.584s1.764-.778 1.764-1.757c0-.98-.752-1.267-1.518-1.541-1.07-.389-2.285-.85-2.285-2.16 0-1.181.998-1.973 2.14-1.973.796 0 1.663.518 1.996 1.253l-.665.331-.015.014ZM175.945 42.541a1.489 1.489 0 0 0-1.374-.878c-.665 0-1.344.547-1.344 1.21 0 1.872 3.817.965 3.817 3.773 0 1.44-1.113 2.434-2.53 2.434-1.302 0-2.372-.792-2.69-2.06l.752-.23c.289.922.911 1.584 1.952 1.584s1.764-.778 1.764-1.757c0-.98-.752-1.267-1.518-1.541-1.07-.389-2.285-.85-2.285-2.16 0-1.181.998-1.973 2.14-1.973.796 0 1.663.518 1.996 1.253l-.665.331-.015.014ZM188.755 35.01v7.344h.029c.462-.864 1.301-1.382 2.327-1.382 2.01 0 2.574 1.253 2.574 3.254v4.71h-.766v-4.71c0-1.397-.174-2.549-1.88-2.549-1.966 0-2.284 1.83-2.284 3.413v3.845h-.767V35.01h.767ZM205.586 45.033c0 2.318-1.807 4.061-4.121 4.061a4.031 4.031 0 0 1-4.063-4.047c0-2.203 1.793-4.09 4.063-4.09 2.27 0 4.121 1.757 4.121 4.061v.015Zm-7.417.014c0 1.772 1.402 3.341 3.253 3.341 1.851 0 3.412-1.454 3.412-3.34 0-1.887-1.474-3.37-3.412-3.37s-3.253 1.57-3.253 3.37ZM210.142 48.921h-.767v-7.085h-.867v-.706h.867v-2.78h.767v2.78h1.373v.706h-1.373v7.085ZM214.709 45.09c-.058 1.973 1.316 3.298 3.138 3.298 1.214 0 2.197-.72 2.761-1.771l.651.374c-.709 1.354-1.967 2.103-3.514 2.103-2.328 0-3.788-1.872-3.788-4.09s1.504-4.047 3.788-4.047c2.285 0 3.774 1.887 3.76 4.133h-6.796Zm6.029-.705c-.188-1.44-1.373-2.722-2.978-2.722-1.605 0-2.921 1.253-3.051 2.722h6.029ZM225.973 48.921h-.766V34.995h.766v13.926ZM244.683 46.819c-1.417 1.195-3.051 2.361-4.714 2.361-1.88 0-3.34-1.512-3.34-3.355 0-2.232 2.14-3.529 3.875-4.623-.593-.82-1.345-1.685-1.345-2.78 0-1.353 1.157-2.448 2.487-2.448s2.328 1.066 2.328 2.362c0 1.455-1.157 2.29-2.386 3.14l3.152 4.291 1.62-1.771.622.331-1.779 2.03 1.952 2.578h-.882l-1.605-2.102.015-.014Zm-4.512-4.436c-1.214.778-2.732 1.757-2.732 3.355 0 1.44 1.026 2.68 2.53 2.68 1.504 0 3.051-1.268 4.237-2.248l-3.225-4.334-.81.547Zm-.188-3.888c0 .907.68 1.584 1.143 2.347.896-.706 2.053-1.253 2.053-2.535 0-.864-.68-1.584-1.562-1.584-.925 0-1.619.879-1.619 1.772h-.015ZM260.718 42.541a1.488 1.488 0 0 0-1.373-.878c-.665 0-1.345.547-1.345 1.21 0 1.872 3.817.965 3.817 3.773 0 1.44-1.113 2.434-2.53 2.434-1.301 0-2.371-.792-2.689-2.06l.752-.23c.289.922.91 1.584 1.952 1.584 1.041 0 1.764-.778 1.764-1.757 0-.98-.752-1.267-1.519-1.541-1.07-.389-2.284-.85-2.284-2.16 0-1.181.997-1.973 2.14-1.973.795 0 1.663.518 1.995 1.253l-.665.331-.015.014ZM266.402 42.527h.029c.578-.994 1.836-1.57 2.978-1.57 2.386 0 3.861 1.858 3.861 4.133 0 2.276-1.475 4.004-3.832 4.004-1.2 0-2.371-.519-3.022-1.512h-.029v5.904h-.766V41.13h.766v1.397h.015Zm-.058 2.664c0 1.83 1.244 3.183 3.123 3.183 1.88 0 3.051-1.541 3.051-3.27 0-1.727-1.171-3.441-3.08-3.441-1.908 0-3.079 1.656-3.079 3.528h-.015ZM283.881 48.921h-.767v-1.397h-.029c-.578.994-1.836 1.57-2.978 1.57-2.372 0-3.861-1.843-3.861-4.119 0-2.275 1.475-4.018 3.832-4.018 1.2 0 2.357.547 3.022 1.512h.029v-1.353h.766v7.79l-.014.015Zm-6.883-3.946c0 1.786 1.186 3.413 3.08 3.413 1.995 0 3.08-1.613 3.08-3.5 0-1.886-1.244-3.225-3.138-3.225-1.793 0-3.036 1.613-3.036 3.312h.014ZM196.969 70.552l-3.108 2.145 1.084-3.6-3.007-2.275 3.788-.072 1.243-3.572 1.244 3.572 3.774.072-3.008 2.275 1.085 3.6-3.095-2.145ZM182.915 70.552l-3.109 2.145 1.099-3.6-3.022-2.275 3.788-.072 1.244-3.572 1.243 3.572 3.788.072-3.022 2.275 1.099 3.6-3.108-2.145ZM168.876 70.552l-3.109 2.145 1.084-3.6-3.007-2.275 3.788-.072 1.244-3.572 1.229 3.572 3.788.072-3.022 2.275 1.099 3.6-3.094-2.145ZM211.008 70.552l-3.108 2.145 1.099-3.6-3.022-2.275 3.788-.072 1.243-3.572 1.244 3.572 3.788.072-3.022 2.275 1.099 3.6-3.109-2.145ZM225.049 70.552l-3.095 2.145 1.099-3.6-3.022-2.275 3.789-.072 1.229-3.572 1.243 3.572 3.788.072-3.007 2.275 1.084 3.6-3.108-2.145Z"/>
                    <path fill="#7C7C7C" d="M107.929 1.152h5.017c7.432 0 13.62 3.917 13.62 11.968 0 8.05-6.058 12.212-13.721 12.212h-4.931V1.152h.015Zm3.021 21.43h1.07c6.175 0 11.524-2.305 11.524-9.333 0-7.028-5.349-9.332-11.524-9.332h-1.07v18.664ZM138.971 25.332h-3.022V1.152h3.022v24.18ZM153.404 19.269l-2.776 6.063h-3.253L158.971.13l11.596 25.202h-3.253l-2.762-6.063h-11.148Zm5.567-12.544-4.309 9.779h8.633l-4.309-9.779h-.015ZM183.16 9.36h-.058l-2.834 15.972h-3.123L182.104.13l8.343 19.053L198.775.13l4.96 25.202h-3.123L197.778 9.36h-.058l-7.273 16.49-7.273-16.49h-.014ZM216.328 19.269l-2.762 6.063h-3.254L221.894.13l11.597 25.202h-3.254l-2.761-6.063h-11.148Zm5.566-12.544-4.309 9.779h8.633l-4.309-9.779h-.015ZM241.675 0l18.218 19.024V1.152h3.022v25.174L244.682 7.3v18.03h-3.022V0h.015ZM280.225 25.332h-3.022V3.917h-5.769V1.152h14.56v2.765h-5.769v21.43-.015Z"/>
                </svg>
                <div class="flex space-x-6 pt-12 pb-12">
                    <a href="#">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0H2C0.89543 0 0 0.89543 0 2V18C0 19.1046 0.89543 20 2 20H10V12.4706H7V9.64706H10V8.13082C10 5.26024 11.4897 4 13.925 4C15.0684 4 15.6836 4.08142 15.9825 4.12097L16 4.12329V6.82353H14.339C13.3053 6.82353 13 7.35812 13 8.44047V9.64706H15.9741L15.5629 12.4706H13V20H18C19.1046 20 20 19.1046 20 18V2C20 0.89543 19.1046 0 18 0Z" fill="#BD941E"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0H2C0.89543 0 0 0.89543 0 2V18C0 19.1046 0.89543 20 2 20H18C19.1046 20 20 19.1046 20 18V2C20 0.89543 19.1046 0 18 0ZM15.3502 6.23936C15.9312 6.1722 16.4847 6.02331 17 5.80205C16.615 6.35858 16.1277 6.84744 15.5661 7.23946C15.5715 7.35868 15.5742 7.47842 15.5742 7.59868C15.5742 11.2685 12.686 15.5 7.40283 15.5C5.78051 15.5 4.27126 15.0403 3 14.2526C3.22507 14.2786 3.45391 14.2917 3.68544 14.2917C5.03154 14.2917 6.26995 13.8476 7.25261 13.1026C5.99588 13.0802 4.93516 12.2769 4.56956 11.1737C4.74455 11.2055 4.92493 11.2232 5.10961 11.2232C5.37183 11.2232 5.62598 11.1893 5.86666 11.1258C4.55232 10.8712 3.56267 9.74881 3.56267 8.40302V8.36814C3.94981 8.57587 4.39295 8.70081 4.86354 8.71539C4.09303 8.21769 3.58636 7.36753 3.58636 6.4044C3.58636 5.89472 3.72797 5.41784 3.97458 5.0076C5.39175 6.68813 7.50783 7.79391 9.89474 7.90948C9.84628 7.70697 9.82043 7.49456 9.82043 7.27694C9.82043 5.74374 11.1062 4.5 12.6925 4.5C13.5184 4.5 14.2647 4.83736 14.7886 5.37723C15.4434 5.25228 16.0583 5.02113 16.6129 4.70304C16.3986 5.35172 15.9436 5.89576 15.3502 6.23936Z" fill="#BD941E"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0H2C0.89543 0 0 0.89543 0 2V18C0 19.1046 0.89543 20 2 20H18C19.1046 20 20 19.1046 20 18V2C20 0.89543 19.1046 0 18 0ZM4 4.56404C4 5.42749 4.70032 6.12899 5.56637 6.12899C6.4297 6.12899 7.13184 5.42749 7.13184 4.56404C7.13184 3.7015 6.4297 3 5.56637 3C4.70123 3 4 3.70059 4 4.56404ZM4.25044 16H6.93695V7.36366H4.25044V16ZM17 16H14.3153V11.8001C14.3153 10.7984 14.2971 9.51001 12.9192 9.51001C11.5213 9.51001 11.3064 10.6009 11.3064 11.7273V16H8.62172V7.36366H11.1989V8.54374H11.2354C11.5942 7.86499 12.4703 7.14894 13.7771 7.14894C16.4973 7.14894 17 8.93771 17 11.2633V16Z" fill="#BD941E"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0H14C17.3137 0 20 2.68629 20 6V14C20 17.3137 17.3137 20 14 20H6C2.68629 20 0 17.3137 0 14V6C0 2.68629 2.68629 0 6 0ZM16 3C16.5 3 17 3.5 17 4C17 4.5 16.5 5 16 5C15.5 5 15 4.5 15 4C15 3.5 15.5 3 16 3ZM15 10C15 7.2425 12.7575 5 10 5C7.2425 5 5 7.2425 5 10C5 12.7575 7.2425 15 10 15C12.7575 15 15 12.7575 15 10ZM10 7C8.34315 7 7 8.34315 7 10C7 11.6569 8.34315 13 10 13C11.6569 13 13 11.6569 13 10C13 8.34315 11.6569 7 10 7Z" fill="#BD941E"/>
                        </svg>
                    </a>
                </div>
                <div class="flex space-x-3">
                    <svg width="43" height="28" viewBox="0 0 43 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M38.639 7.8686L42.0781 4.12695H34.4516C30.6336 1.51892 26.0226 0 21.0359 0C16.0555 0 11.4573 1.52219 7.64563 4.12695H0L3.43911 7.8686C1.3311 9.79191 0.00958682 12.5624 0.00958682 15.6385C0.00958682 21.4435 4.71613 26.15 10.5212 26.15C13.2789 26.15 15.7913 25.0865 17.6669 23.3478L21.0359 27.0162L24.405 23.351C26.2806 25.0896 28.7898 26.15 31.5475 26.15C37.3526 26.15 42.0654 21.4435 42.0654 15.6385C42.0685 12.5592 40.7471 9.7888 38.639 7.8686ZM10.5243 22.7523C6.59478 22.7523 3.41051 19.568 3.41051 15.6385C3.41051 11.7089 6.59486 8.52456 10.5243 8.52456C14.4538 8.52456 17.6381 11.7089 17.6381 15.6385C17.6381 19.568 14.4538 22.7523 10.5243 22.7523ZM21.0391 15.4315C21.0391 10.7504 17.635 6.73179 13.1419 5.01539C15.5715 3.99953 18.2368 3.43592 21.0359 3.43592C23.8349 3.43592 26.5033 3.99953 28.9331 5.01539C24.4432 6.73498 21.0391 10.7505 21.0391 15.4315ZM31.5507 22.7523C27.6211 22.7523 24.4368 19.568 24.4368 15.6385C24.4368 11.7089 27.6211 8.52456 31.5507 8.52456C35.4802 8.52456 38.6645 11.7089 38.6645 15.6385C38.6645 19.568 35.4802 22.7523 31.5507 22.7523ZM31.5507 11.9063C29.4904 11.9063 27.8217 13.5749 27.8217 15.6353C27.8217 17.6955 29.4904 19.3641 31.5507 19.3641C33.6109 19.3641 35.2796 17.6955 35.2796 15.6353C35.2795 13.5781 33.6109 11.9063 31.5507 11.9063ZM14.2532 15.6385C14.2532 17.6987 12.5846 19.3673 10.5243 19.3673C8.46409 19.3673 6.79546 17.6987 6.79546 15.6385C6.79546 13.5781 8.46409 11.9095 10.5243 11.9095C12.5846 11.9063 14.2532 13.5781 14.2532 15.6385Z" fill="#BD941E"/>
                    </svg>
                    <p class="paragraph text-secondary">“{tripadvisor}”</p>
                </div>
            </div>
            <div class="space-y-3 pb-4">
                <a href="#" class="paragraph text-secondary block">{menu1}</a>
                <a href="#" class="paragraph text-secondary block">{menu2}</a>
                <a href="#" class="paragraph text-secondary block">{menu3}</a>
                <a href="#" class="paragraph text-secondary block">{menu4}</a>
                <a href="#" class="paragraph text-secondary block">{menu5}</a>
                <a href="#" class="paragraph text-secondary block">{menu6}</a>
                <a href="#" class="paragraph text-secondary block">{menu7}</a>
                <a href="#" class="paragraph text-secondary block">{menu8}</a>
                <a href="#" class="paragraph text-secondary block">{menu9}</a>
            </div>
            <div class="space-y-10 pt-16 pb-16">
                <div class="flex space-x-4">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2.375C0 1.87772 0.197544 1.40081 0.549175 1.04917C0.900805 0.697544 1.37772 0.5 1.875 0.5H5.91187C6.3557 0.500204 6.78506 0.657839 7.12358 0.944862C7.46211 1.23188 7.68784 1.62969 7.76062 2.0675L9.14813 10.3831C9.21442 10.7792 9.15183 11.186 8.96956 11.5438C8.78728 11.9016 8.49497 12.1914 8.13563 12.3706L5.23312 13.82C6.27395 16.3993 7.82406 18.7424 9.79083 20.7092C11.7576 22.6759 14.1007 24.226 16.68 25.2669L18.1313 22.3644C18.3104 22.0054 18.5999 21.7133 18.9573 21.5311C19.3147 21.3488 19.7211 21.286 20.1169 21.3519L28.4325 22.7394C28.8703 22.8122 29.2681 23.0379 29.5551 23.3764C29.8422 23.7149 29.9998 24.1443 30 24.5881V28.625C30 29.1223 29.8025 29.5992 29.4508 29.9508C29.0992 30.3025 28.6223 30.5 28.125 30.5H24.375C10.9125 30.5 0 19.5875 0 6.125V2.375Z" fill="#BD941E"/>
                    </svg>
                    <p class="paragraph big text-secondary">{phone}</p>
                </div>
                <div class="flex space-x-4">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.0078125 7.03245L15.002 14.5286L29.9962 7.03245C29.9406 6.07705 29.522 5.17902 28.8258 4.52229C28.1297 3.86556 27.2088 3.49982 26.2518 3.5H3.75214C2.79512 3.49982 1.87425 3.86556 1.17813 4.52229C0.482009 5.17902 0.0633194 6.07705 0.0078125 7.03245Z" fill="#BD941E"/>
                        <path d="M29.9996 11.2212L14.9998 18.7211L0 11.2212V22.2498C0 23.2443 0.395083 24.1982 1.09833 24.9014C1.80159 25.6047 2.7554 25.9997 3.74995 25.9997H26.2496C27.2442 25.9997 28.198 25.6047 28.9013 24.9014C29.6045 24.1982 29.9996 23.2443 29.9996 22.2498V11.2212Z" fill="#BD941E"/>
                    </svg>
                    <p class="paragraph big text-secondary">{email}</p>
                </div>
                <div class="flex space-x-4">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.51494 3.63961C8.76535 1.30921 11.8176 0 15.0001 0C18.1827 0 21.2349 1.30921 23.4853 3.63961C25.7357 5.97001 27 9.13072 27 12.4264C27 15.7221 25.7357 18.8828 23.4853 21.2132L15.0001 30L6.51494 21.2132C5.40057 20.0593 4.5166 18.6895 3.91351 17.1818C3.31041 15.6742 3 14.0583 3 12.4264C3 10.7945 3.31041 9.17862 3.91351 7.67098C4.5166 6.16333 5.40057 4.79347 6.51494 3.63961ZM15.0001 15.9766C15.9094 15.9766 16.7814 15.6026 17.4243 14.9368C18.0673 14.271 18.4285 13.368 18.4285 12.4264C18.4285 11.4848 18.0673 10.5818 17.4243 9.91602C16.7814 9.25023 15.9094 8.87619 15.0001 8.87619C14.0909 8.87619 13.2189 9.25023 12.5759 9.91602C11.933 10.5818 11.5718 11.4848 11.5718 12.4264C11.5718 13.368 11.933 14.271 12.5759 14.9368C13.2189 15.6026 14.0909 15.9766 15.0001 15.9766Z" fill="#BD941E"/>
                    </svg>
                    <p class="paragraph big text-secondary">{address}</p>
                </div>
            </div>
        </div>
        <div class="flex pt-6 space-x-32 border-t-2 border-b-stone-950">
            <a href="#" class="paragraph text-secondary">{copyright}</a>
            <a href="#" class="paragraph text-secondary">{gdpr}</a>
            <a href="#" class="paragraph text-secondary">{rules}</a>
            <a href="#" class="paragraph text-secondary">{madeby}</a>
        </div>
    </div>
</div>
